flask
gunicorn
flask-sqlalchemy
flask-migrate
flask-login
flask-bcrypt
flask-wtf
flask-mail
psycopg2-binary
python-dotenv
email-validator
redis
celery
flask-limiter
pillow
gevent
gevent-websocket
eventlet==0.36.1
flask-socketio
dnspython