flask
gunicorn
flask-sqlalchemy
flask-migrate
flask-login
flask-bcrypt
flask-wtf
psycopg2-binary
python-dotenv
email-validator
flask-limiter
pillow
gevent
gevent-websocket
eventlet==0.36.1
flask-socketio
dnspython
resend