<div
class="chat-profile-modal"
id="chatProfileModal">

    <div class="chat-profile-card">

        <button
        class="chat-profile-close"
        id="closeChatProfile">

            ✕

        </button>

        <div
        class="chat-profile-banner">

            <img
            id="chatProfileBanner"
            src="">
        </div>

        <div
        class="chat-profile-avatar">

            <img
            id="chatProfileAvatar"
            src="">
        </div>

        <div class="chat-profile-info">

            <h2
            id="chatProfileFullName">
            </h2>

            <div class="chat-profile-grid">

                <div>

                    <span>
                        First Name
                    </span>

                    <strong
                    id="chatProfileFirstName">
                    </strong>

                </div>

                <div>

                    <span>
                        Last Name
                    </span>

                    <strong
                    id="chatProfileLastName">
                    </strong>

                </div>

                <div>

                    <span>
                        Email
                    </span>

                    <strong
                    id="chatProfileEmail">
                    </strong>

                </div>

                <div>

                    <span>
                        Employee ID
                    </span>

                    <strong
                    id="chatProfileEmployeeId">
                    </strong>

                </div>

                <div>

                    <span>
                        Role
                    </span>

                    <strong
                    id="chatProfileRole">
                    </strong>

                </div>

            </div>

        </div>

    </div>

</div>